/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   CSS Reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   max-width: 100%;
   /* border: 1px solid grey; */
}

/* General Styles */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #faf9f9;
    background-color: #7f5539;
}

h1 {
    font-size: 5rem;
    color: #faf9f9;
    font-family: 'Dancing Script', cursive;
}
h2, h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2rem;
}
h2, h3, h4, p, a {
    font-family: 'Abril Fatface', cursive;
}

/* Header section styling */
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(128,0,0); 
}
.header-left {
    width: 50%;
}
.header-left nav a, .right a {
    font-size: 2rem;
    text-decoration: none;
    color: #4f4f4f;
    background-color: #faf9f9;
    border: 2px solid #000;
    border-radius: 5%;
    padding: 0 1%;
}
.header-left nav a:hover, .right a:hover {
    background-color: rgb(220,20,60);
    transition-duration: 1.5s;
    color: #faf9f9;
    border: 2px solid #000;
    border-radius: 5%;
}
.header-right {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    color: #faf9f9;
}
div.links {
    display: flex;
    justify-content: space-between;
    width: 75%;
}
div.links a {
    font-size: 5rem;
}

/* About section styling */
#aboutme {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(105,105,105);
}
.left img {
    width: 40%;
    border-radius: 20%;
    margin-left: 45%;
    margin-top:5%;
    margin-bottom: 5%;
}
.right {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(211,211,211);
    border-radius: 5%;
    margin-right: 10%;
    text-align: center;
    padding: 2% 2%
}
.right p {
    font-size: 2rem;
}

/* Projects section styling */

div.img {
    font-size: 1.3rem;
}
.img-top, .img-bottom {
    display: flex;
    justify-content: space-around;
}

/* Footer section styling */

footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(128,0,0);
}
.footer-left {
    margin-left: 25%;
}
.footer-left a {
    text-decoration: none;
    font-size: 2rem;
    color: #4f4f4f;
    background-color: #faf9f9;
    border: 2px solid #000;
    border-radius: 5%;
    padding: 0 2%;
}
.footer-left a:hover {
    color: #faf9f9;
    background-color: rgb(220,20,60);
    transition-duration: 1.5s;
}
.footer-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

/* Media Queries */
@media(max-width: 800px) {
    header {
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    .header-left h1 {
        margin-left: 20%;
    }
    .header-left nav {
        display: flex;
        flex-direction: column;
        width: 25%;
        text-align: center;
        margin-left: 36%;
    }
    .header-left, .header-right {
        margin: 0 auto;
    }
    .header-left {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .header-right {
        justify-content: center;
    }
    #aboutme {
        flex-direction: column;
    }
    .left {
        width: 60%;
        border-radius: 30%;
        margin-left: -18%;
    }
    #aboutme .right {
        margin: 0 auto;
    }
    .img p {
        font-size: 1.1rem;
    }
    .footer-left {
        margin-left: 0%;
    }
}
@media(max-width: 500px) {
    .header-left h1 {
        font-size: 3.9rem;
        margin-left: 15%;
    }
    .header-left nav {
        width: 36%;
    }
    .header-right h2 {
        margin-left: 16%;
    }
    .header-right div.links {
        flex-wrap: wrap;
        margin-left: 22%;
    }
    #projects {
        display: flex;
        flex-direction: column;
    }
    .links a {
        width: 50%;
    }
    footer div.links {
        display: flex;
        flex-wrap: wrap;
    }
    .footer-left {
        display: flex;
        flex-direction: column;
        margin: auto 0;
    }
    .footer-left a {
        width: 70%;
        text-align: center;
    }
}


